.wrapper {
  margin: 0 auto;
  padding: 1rem;
  width: clamp(calc(320px - 3rem), 75%, 70ch);
  border: 0.5rem solid black;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.wrapper {

}

.block {
  
  padding: 0 1rem;
  border: 0.5rem solid green;
}

.block {

  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 25%;
  flex-basis: calc(100px, 24%, 23ch);
}